<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme h-100 ">
  <div class="app-brand demo justify-content-center" >
    <a href="index.html" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="./../../../assets/img/favicon/logo.jpg" style="width: 50px; height: 50px;" alt="" srcset="">
      </span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">ADMIN</span>
    </li>
    <li class="menu-item">
      <a routerLink="/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Basic">Dashboard</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">SERVICES</span>
    </li>
    <!-- COMMANDE -->
    <li class="menu-item">
      <a routerLink="/commande" class="menu-link">
        <i class="menu-icon tf-icons bx bx-bookmark"></i>
        <div data-i18n="Basic">Commande</div>
      </a>
    </li>

    <li class="menu-item">
      <a routerLink="/livraison" class="menu-link">
        <i class="menu-icon tf-icons bx bx-package"></i>
        <div data-i18n="Basic">Livraison</div>
      </a>
    </li>


    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">CLIENT</span>
    </li>
    <!-- COMMANDE -->
    <li class="menu-item">
      <a routerLink="/client" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div data-i18n="Basic">Client</div>
      </a>
    </li>

    <li class="menu-item">
      <a routerLink="/abonnement" class="menu-link">
        <i class="menu-icon tf-icons bx bx-gift"></i>
        <div data-i18n="Basic">Abonnement</div>
      </a>
    </li>

    <li class="menu-item">
      <a routerLink="/chat" class="menu-link">
        <i class="menu-icon tf-icons bx bx-message-dots"></i>
        <div data-i18n="Basic">Chat</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">PARAMETRE </span>
    </li>

    <li class="menu-item">
      <a routerLink="/service" class="menu-link">
        <i class="menu-icon tf-icons bx bx-cog"></i>
        <div data-i18n="Basic">Service</div>
      </a>
    </li>

    <li class="menu-item">
      <a routerLink="/setting" class="menu-link">
        <i class="menu-icon tf-icons bx bx-cog"></i>
        <div data-i18n="Basic">Setting</div>
      </a>
    </li>


  </ul>
</aside>
